<template>
  <v-card>
    <div :style="gradientStyle">
      <v-img
        :src="image"
        contain
        class="white--text align-end"
        style="z-index=200"
      >
      <v-card-title>
        <h3 class="headline text-capitalize word-break-none mb-0">{{title.toLowerCase()}}</h3>
      </v-card-title>
      </v-img>
    </div>
    <v-card-actions>
      <v-btn color="primary">
        <v-icon>mdi-cart-arrow-down</v-icon>
        Añadir al carrito
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'ProductCard',
  props: {
    title: {
      required: true
    },
    image: {
      required: true
    }
  },
  computed: {
    gradientStyle () {
      return `background-image:linear-gradient(to top,  ${this.primaryColor.rgbString(0.5)} 0%, ${this.primaryColor.rgbString(0.25)} 30%, rgba(255,255,255,0) 60%)`
    },
    primaryColor () {
      const hex = this.$vuetify.theme.light ? this.$vuetify.theme.themes.light.primary : this.$vuetify.theme.themes.dark.primary
      return {
        hex,
        rgbObject: () => {
          var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex)
          return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
          } : null
        },
        rgbString: (alpha) => {
          if (!alpha || alpha < 0 || alpha > 1) alpha = 1
          var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex)
          return `rgba(${parseInt(result[1], 16)},${parseInt(result[2], 16)},${parseInt(result[3], 16)},${alpha})`
        }
      }
    },
    secondaryColor () {
      const hex = this.$vuetify.theme.light ? this.$vuetify.theme.themes.light.secondary : this.$vuetify.theme.themes.dark.secondary
      return {
        hex,
        rgbObject: () => {
          var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex)
          return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
          } : null
        },
        rgbString: (alpha) => {
          if (!alpha || alpha < 0 || alpha > 1) alpha = 1
          var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex)
          return `rgba(${parseInt(result[1], 16)},${parseInt(result[2], 16)},${parseInt(result[3], 16)},${alpha})`
        }
      }
    }
  }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
  width:100%
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.word-break-none {
  word-break: keep-all;
}
</style>
