<template>
  <v-container grid-list-xs fluid>
    <h2>Pago de carrito</h2>
    <v-row>
        <v-col cols="12">
          <v-stepper
            v-model="currentStep"
            alt-labels
            :vertical="$vuetify.breakpoint.xs"
          >
          <!--Muestra el header en pantallas que no sean xs-->
            <v-stepper-header v-if="!$vuetify.breakpoint.xs">
              <v-divider/>
              <template v-for="step in steps">
                <v-stepper-step
                  editable
                  :key="`${step.id}-step`"
                  :complete="step.completed"
                  :step="step.id"
                  edit-icon="mdi-check-circle-outline"
                  non-linear
                >
                  <p class="text-center">{{step.name}}</p>
                </v-stepper-step>
                <v-divider
                  v-if="$vuetify.breakpoint.smAndUp"
                  :key="step.id"
                />
              </template>
            </v-stepper-header>

            <template v-for="step in steps">
              <!--Este step se muestra en pantallas xs para que funcione el stepper vertical-->
              <v-stepper-step
                :key="`${step.id}-step`"
                :complete="step.completed"
                :step="step.id"
                v-if="$vuetify.breakpoint.xs"
                editable
                edit-icon="mdi-check-circle-outline"
                non-linear
                color="info"
              >
                <p class="subtitle text-center">{{step.name}}</p>
              </v-stepper-step>

              <v-stepper-content
                :key="`${step.id}-content`"
                :step="step.id"
              >
              <v-row>
                <v-col
                  sm=4
                  offset-sm="8"
                  md=3
                  offset-md="9"
                  lg="2"
                  offset-lg="10"
                >
                  <v-btn
                    block
                    color="primary"
                    @click="moveOn"
                  >
                    Continuar
                    <v-icon>mdi-arrow-right-bold-outline</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-card
                    class="mb-12"
                    color="grey lighten-1"
                    height="200px"
                    :id="`step${step.id}`"
                  >
                  </v-card>
                </v-col>
              </v-row>
              </v-stepper-content>
            </template>
          </v-stepper>
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Vue from 'vue'
import Purchase from '../../components/shop/checkout/Purchase'
import PickupDelivery from '../../components/shop/checkout/PickupDelivery'
import Payment from '../../components/shop/checkout/Payment'
export default {
  name: 'CartCheckout',
  mounted () {
    this.steps.forEach(step => {
      step.component.$on('completeChange', completed => {
        step.completed = completed
      })
      step.component.$on('moveOn', () => {
        this.moveOn()
      })
      step.component.$mount(`#step${step.id}`)
    })
  },
  data () {
    return {
      steps: [
        {
          id: 1,
          name: 'Verfique su compra',
          completed: false,
          icon: 'mdi-cart-outline',
          component: new Vue({ ...Purchase })
        },
        {
          id: 2,
          name: 'Seleccione envio o retiro',
          completed: false,
          icon: 'mdi-car-pickup',
          component: new Vue({ ...PickupDelivery })
        },
        {
          id: 3,
          name: 'Realize el pago',
          completed: false,
          icon: 'mdi-cash-multiple',
          component: new Vue({ ...Payment })
        }
      ],
      currentStep: 1
    }
  },
  methods: {
    moveOn () {
      // Si es el paso final y ya estan todos los pasos completados
      if (this.currentStep === this.steps.length) {
        // Paso final
        const allCompleted = this.steps.every(step => step.completed)
        if (allCompleted) {
          // Enviar compra
        } else {
          // Aun no estan completados los pasos
        }
      }
      const step = this.steps.find(val => val.id === this.currentStep)
      if (step.completed) this.currentStep++
      // else // Paso no completado
    }
  },
  computed: {
    isXs () {
      return this.$vuetify.breakpoint.xs
    }
  },
  watch: {
    isXs: {
      deep: true,
      handler: function (val, old) {
        this.steps.forEach(step => {
          step.component.isXs = val
        })
      }
    }
  }
}
</script>

<style scope>
  .v-stepper:not(.v-stepper--vertical) .v-stepper__label{
    display:unset
  }
</style>
